h1{
font-size: 30px;
text-align: center;
color: #de7471
}

h1 {
  font-size: 30px;
  text-align: center;
  color: #de7471;
  text-shadow: 2px 2px 5px #444;
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
}

body {
background-color: #007471;
}